<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>{{ survey.Title }}</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <ng-container>
    <div class="mat-elevation-z8">
      <p>{{ survey.InfoText }}</p>
    </div>
    <div class="row">
      <div class="col">{{ survey.CreatedBy }}</div>
      <div class="col">{{ survey.CreationDate }}</div>
      <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
          <button mat-raised-button (click)="createQuestion()" ><mat-icon>add</mat-icon></button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
